.create-entry-container {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 320px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: bolder;
}
