<div class="add-calorie-container">
  <form [formGroup]="addFoodForm">
    <h2>Add Entry</h2>
    <p>** All Entries all per serving size</p>
    <div class="input">
      <label for="name">Food Entry Name</label>
      <input type="digit" formControlName="foodName" />
    </div>
    <div class="input">
      <label for="gramsPerServing">Grams</label>
      <input type="digit" formControlName="gramsPerServing" />
    </div>
    <div class="input">
      <label for="gramsPerServing">Calories</label>
      <input type="digit" formControlName="calories" />
    </div>
    <div class="input">
      <label for="gramsPerServing">Fats</label>
      <input type="digit" formControlName="fat" />
    </div>
    <div class="input">
      <label for="gramsPerServing">Carbs</label>
      <input type="digit" formControlName="carbs" />
    </div>
    <div class="input">
      <label for="gramsPerServing">Protein</label>
      <input type="digit" formControlName="protein" />
    </div>
    <button [disabled]="addFoodForm.errors" (click)="addFoodToDB()">
      Add Calories
    </button>
  </form>
  <button routerLink="/">Home</button>
</div>
