@media screen and (min-width: 350px) {
  .edit-entry-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 10%;
    gap: 10px;
    animation: slideDown 0.4s ease-in-out;
    z-index: -100;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-1000px);
    }

    100% {
      transform: translateY(0);
    }
  }

  p {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  form {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .delete-entry {
    background-color: rgb(255, 62, 62);
    color: black;
    font-weight: bolder;
  }

  .edit-entry {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bolder;
  }

  input,
  button {
    width: 100%;
    padding: 5px 10px;
    border: none;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.253);
    border-radius: 2px;
  }
}
