<div class="entries-container">
  <h3>Click on entry to edit</h3>
  <h4 *ngIf="!entryService.foodEntries().length">
    No entries found, navigate to <a routerLink="/add-entry">ADD ENTRY</a> to
    add an entry
  </h4>
  <div class="entries">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let entry of entryService.foodEntries()"
        (click)="editEntry(entry)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ entry.name }} </mat-panel-title>
        </mat-expansion-panel-header>
        <edit-entry-form [entry]="currentEditedEntry()"></edit-entry-form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <a routerLink="/create-entry"
    ><button mat-raised-button color="accent">ADD ENTRY</button></a
  >
  <home-button></home-button>
</div>
