<div class="entries-container">
  <h3>Click on entry to edit</h3>
  <div class="entries">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let entry of entryService.foodEntries() | keyvalue"
        (click)="editEntry(entryService.foodEntries()[entry.key])"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ entry.key }} </mat-panel-title>
        </mat-expansion-panel-header>
        <edit-entry-form [entry]="currentEditedEntry()"></edit-entry-form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <a routerLink="/create-entry"
    ><button mat-raised-button color="accent">ADD ENTRY</button></a
  >
  <home-button></home-button>
</div>
