<div class="add-meal-container">
  <h2>Add Meal</h2>
  <div class="input">
    <mat-form-field appearance="fill">
      <mat-datepicker></mat-datepicker>
      <mat-label>mm/dd/yyyy</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (focus)="picker.open()"
        (dateChange)="changeDate($event)"
        readonly
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
        [ariaValueNow]="formatedMacroDate()"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <add-meal-form (outputNameAndGrams)="updateMacros($event)"></add-meal-form>
  <div class="total-container">
    <nutrition-facts-table [date]="formatedMacroDate()"></nutrition-facts-table>
  </div>
  <home-button></home-button>
  <!-- <mat-selection-list #shoes>
    <mat-list role="list">
      <mat-list-item
        matListItemTitle
        role="listitem"
        *ngFor="let macroInput of this.macroService.macroInputs()"
      >
        <div matListItemTitle>
          {{ macroInput.name }} @ {{ macroInput.time }}
        </div>
        <div class="mat-list-button" matListItemLine>
          <button matListItemAvatar>Hello</button>
        </div>
        <div></div>
      </mat-list-item>
    </mat-list>
  </mat-selection-list> -->
</div>
