<form [formGroup]="addMealForm">
  <div class="input">
    <label for="calories">Choose Food</label>
    <select formControlName="foodName">
      <option disabled selected>Choose Food</option>
      <option
        *ngFor="let food of entryService.foodEntries() | keyvalue"
        [value]="entryService.foodEntries()[food.key].name"
        [innerHTML]="entryService.foodEntries()[food.key].name"
      ></option>
    </select>
  </div>
  <div class="input">
    <label for="calories">Grams</label>
    <input type="digit" formControlName="grams" />
  </div>
  <button (click)="addCalories()">Add Calories</button>
</form>
