<form [formGroup]="addMealForm">
  <div class="input">
    <mat-form-field>
      <mat-label>Food</mat-label>
      <mat-select formControlName="foodName">
        <mat-option
          *ngFor="let food of entryService.foodEntries() | keyvalue"
          [value]="entryService.foodEntries()[food.key].name"
          >{{ entryService.foodEntries()[food.key].name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div class="input">
    <mat-form-field>
      <mat-label>Grams</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <button mat-flat-button color="accent" (click)="updateMacros()">
    <p>UPDATE MACROS</p>
  </button>
</form>
