.nutrition-container {
  padding: 0px 5px 5px 5px;
  gap: 5px;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
  min-width: 280px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  border-bottom: 1px solid black;
  padding: 5px;
}

h2 {
  text-align: center;
}

label {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
}

input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.253);
  border-radius: 2px;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  padding: 5px;
  border-bottom: 2px solid black;
}

.change-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  width: 100%;
}
