<div class="nutrition-container" *ngIf="macroService.totalNutrition() as food">
  <div *ngIf="!macroService.macrosLoading(); else loading">
    <h2>Macros for {{ date }}</h2>
    <section class="calorie-section">
      <h2>Calories</h2>
      <h2>{{ food.calories }}</h2>
    </section>
    <section>
      <h5>Fat</h5>
      <h5>{{ food.fat }}g</h5>
    </section>
    <section>
      <h5>Carbs</h5>
      <h5>{{ food.carbs }}g</h5>
    </section>
    <section>
      <h5>Protein</h5>
      <h5>{{ food.protein }}g</h5>
    </section>
  </div>

  <ng-template #loading>
    <div class="center">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </ng-template>
</div>
