.nutrition-container {
  width: 320px;
  padding: 20px;
  height: 190px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

h2 {
  text-align: center;
}

section {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
